<%- contentFor('pageName') %>
<title>Home</title> 

<%- contentFor('styles') %> 
<link rel="stylesheet" href="css/movie.css">

<%- contentFor('body') %> 
<div class="header">
    <%- include('./header') %> 
</div>

<%- include('search-movies') %> 
