<%- contentFor('pageName') %>
<title>Search</title>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/search.css">

<%- contentFor('body') %>
<div class="header">
    <%- include('./header') %>
</div>

<div class="search-form">
    <%- include('./search-form') %>
</div>

<%- include('search-movies') %> 